<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head'); %>
<body>
    <%- include('../partials/header', {pagina:'sobre'}); %>

    <main>
        <div class="bg-dark bg-opacity-10 p-md-4"> 
           <h1>Sobre mim</h1>
           <p>Olá, sou Laura :)</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>
</body>
</html>